
{%extends "todo_application/base.html"%}


{% block title %}
ABOUT PAGE
{% endblock title %}



{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4"><center>ToDo List</center></h1>
      <p class="lead"><center>This application provide you the easy way to follow projects.</center></p>
      <p class="lead"><center>You can write your project step by step</center></p>
      <p class="lead"><center>and you can check the steps when you done...</center></p>
    </div>
  </div>
{% endblock content %}



